* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.imgDiv img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    filter: brightness(10px);
    background: inherit;
}
header {
    padding: 5px 10px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(129, 184, 238);
    /* background-image: linear-gradient(to left, rgb(30, 19, 19), rgb(28, 28, 67), rgb(49, 49, 13)); */
}
.navLinks nav ul {
    display: flex;
    text-decoration: none;
    list-style: none;
}
.navLinks nav ul li {
    padding: 10px 20px;
    color: antiquewhite;
    font-weight: bold;

}
body {
    background-image:url(../images/bg23.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}
.mainBody {
    /* margin-top: 4rem; */
    margin-left: 16px;
    color: rgb(173, 173, 173);
}
 h1 {
    font-size: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: rgb(176, 138, 88);
}
.mainBody p {
    font-style: italic;
    color: black;
    font-size: 2rem;
    align-items: center;
    display: flex;
}
/* marquee {
    margin-top: 4rem;
    font-size: 3rem;
} */
a {
    text-decoration: none;
}
.change {
    margin-left: 16px;
   background-color: rgb(209, 222, 237);
    padding: 70px;
    margin: 16px;
    border-radius: 30px;

}
.change h2{
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
    
.change p1{
    font-style: italic;
   
    
}
    
footer{
    background-color: rgb(106, 162, 212);
    text-align: center;
    padding: 20px 0;
    position:fixed;
    bottom: 0;
    width: 100%;
    justify-content: baseline;
}
.carousel-item {
    height: 90vh;
    min-height: 300px; /* Adjust min-height as needed */
    background-size: cover;
    background-position: center;
   
}
.carousel-item.active {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-item p {
    color: black;
    font-size: 24px;
    align-items: flex-end;
    display: flex;
            justify-content: center;
            align-items: flex-end;
            height: 80vh;
}
.carousel-control-prev,
.carousel-control-next {
    display: none;